.jumbotron {
  background-image: url(../images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%% auto;
  color: white;
  text-align: center;
}

.title-bg {
  background-color: rgba(192,192,192,0.65);
}
